<div class="container">
  <br>
  <h3>Login Form</h3>
  <br>
  <div class="card card-body bg-light">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="clientId">
          Client ID
        </label>
        <input class="form-control" id="clientId" type="text" formControlName="clientId">
      </div>
      <br>
      <div>
        <label for="clientSecret">
          Client Secret
        </label>
        <input class="form-control" id="clientSecret" type="password" formControlName="clientSecret">
      </div>
      <br>
      <re-captcha formControlName="recaptchaReactive" [siteKey]="ReCaptha_SITE_KEY"></re-captcha>
      <br>
      <button class="btn btn-primary" type="submit">Login</button>
      <span style="color: green; float: right;" *ngIf="showSuccess">
        Login Success! Now you can access other APIs.
        <br>
        <a routerLink="/PersonalDetailsFirstLevel" class="button fancy-button">
          Open Personal Details First Level API Form
        </a>
      </span>
      <span style="color: red; float: right;" *ngIf="showInvalidCredentialsError">Invalid client credentials entered!</span>
    </form>
  </div>
</div>
<br>
<div class="container">
  <span class="container" style="color: red;" *ngIf="showGeneralError">{{this.generalErrors}}</span>
</div>