<div class="ms-3">
    <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/login">Login</a></li>
        <li class="breadcrumb-item"><a routerLink="/PersonalDetailsFirstLevel">Personal Details First Level API</a></li>
        <li class="breadcrumb-item"><a routerLink="/PersonalDetailsSecondLevel">Personal Details Second Level</a></li>
        <li class="breadcrumb-item"><a routerLink="/PersonalDetailsThirdLevel">Personal Details Third Level</a></li>
        <li class="breadcrumb-item"><a routerLink="/IDInformation">ID Information</a></li>
        <li class="breadcrumb-item"><a routerLink="/IncomeDetails">Income Details</a></li>
        <li class="breadcrumb-item"><a routerLink="/RiskAcceptance">Risk Acceptance</a></li>
        <li class="breadcrumb-item"><a routerLink="/FinancialSituation">Financial Situation</a></li>
        <li class="breadcrumb-item"><a routerLink="/InvestmentExperience">Investment Experience</a></li>
        <li class="breadcrumb-item"><a routerLink="/IdentificationProof">Identification Proof</a></li>
        <li class="breadcrumb-item"><a routerLink="/Disclosures">Disclosures</a></li>
        <li class="breadcrumb-item"><a routerLink="/FundingDetails">Funding Details</a></li>
        <li class="breadcrumb-item"><a routerLink="/Signatures">Signatures</a></li>
    </ol>
    <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/login">Login</a></li>
        <li class="breadcrumb-item"><a routerLink="/SignupMergedInitialAndAccount">Signup Merged Initial And Account</a></li>
        <li class="breadcrumb-item"><a routerLink="/SignupInitial">Signup Initial</a></li>
        <li class="breadcrumb-item"><a routerLink="/SignupAccountFunding">Signup Account Funding</a></li>
        <li class="breadcrumb-item"><a routerLink="/SignupOtherData">Signup Other Data</a></li>
    </ol>
</div>