<h3>Signup Merged Initial And Account</h3>
<div class="row">
    <div class="col-10">
        <div class="card card-body" style="background-color: #EBF5FB;">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="row card" style="background-color: #D6EAF8; padding: 1%;">
                        <div class="row">
                            <div class="col-2">
                                <label>IsBusinessEntity</label>
                                <div class="d-flex justify-content-between">
                                    <div class="form-check mt-2">
                                        <label class="form-check-label" for="IsBusinessEntityYes">
                                            <input class="form-check-input" type="radio" id="IsBusinessEntityYes" name="IsBusinessEntity"
                                                value="true" (click)="this.updateInfo($event)"
                                                formControlName="IsBusinessEntity" />
                                            Yes
                                        </label>
                                        <label class="form-check-label ms-5" for="IsBusinessEntityNo">
                                            <input class="form-check-input" type="radio" name="IsBusinessEntity"
                                                id="IsBusinessEntityNo" value="false" (click)="this.updateInfo($event)"
                                                formControlName="IsBusinessEntity" checked/>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <label for="UserIdentifierCode">UserIdentifierCode</label>
                                <input type="text" class="form-control" id="UserIdentifierCode"
                                    name="UserIdentifierCode" (click)="this.updateInfo($event)"
                                    formControlName="UserIdentifierCode">
                            </div>
                            <div class="col-2">
                                <label for="CompanyId">CompanyId</label>
                                <input type="text" class="form-control" id="CompanyId" name="CompanyId"
                                    (click)="this.updateInfo($event)" formControlName="CompanyId">
                            </div>
                            <div class="col-2">
                                <label for="FirstName">FirstName</label>
                                <input type="text" class="form-control" id="FirstName" name="FirstName"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2">
                                <label for="LastName">LastName</label>
                                <input type="text" class="form-control" id="LastName" name="LastName"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2">
                                <label for="DateOfBirth">DateOfBirth</label>
                                <input type="datetime" class="form-control" id="DateOfBirth" name="DateOfBirth"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2">
                                <label for="Email">Email</label>
                                <input type="datetime" class="form-control" id="Email" name="Email"
                                    (click)="this.updateInfo($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mt-3">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control" id="Address" name="Address"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="Country">Country</label>
                                <input type="text" class="form-control" id="Country" name="Country"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="State">State</label>
                                <input type="text" class="form-control" id="State" name="State"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="City">City</label>
                                <input type="text" class="form-control" id="City" name="City"
                                    (click)="this.updateInfo($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                <label for="AptOrSuite">AptOrSuite</label>
                                <input type="text" class="form-control" id="AptOrSuite" name="AptOrSuite"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col mt-3">
                                <label for="ZipCode">ZipCode</label>
                                <input type="text" class="form-control" id="ZipCode" name="ZipCode"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="PhoneNumber">PhoneNumber</label>
                                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="MaritalStatus">MaritalStatus</label>
                                <input type="text" class="form-control" id="MaritalStatus" name="MaritalStatus"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="NumberOfDependents">NumberOfDependents</label>
                                <input type="number" class="form-control" id="NumberOfDependents"
                                    name="NumberOfDependents" (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="InvestmentRiskTolerance">InvestmentRiskTolerance</label>
                                <input type="text" class="form-control" id="InvestmentRiskTolerance"
                                    name="InvestmentRiskTolerance">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label for="SSN">SSN</label>
                                <input type="text" class="form-control" id="SSN" name="SSN">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="ValidGovtIDType">ValidGovtIDType</label>
                                <input type="text" class="form-control" id="ValidGovtIDType" name="ValidGovtIDType">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="IDNumber">IDNumber</label>
                                <input type="text" class="form-control" id="IDNumber" name="IDNumber">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="IssuingCountry">IssuingCountry</label>
                                <input type="datetime" class="form-control" id="IssuingCountry" name="IssuingCountry">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="IssuingState">IssuingState</label>
                                <input type="datetime" class="form-control" id="IssuingState" name="IssuingState">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="IssueDate">IssueDate</label>
                                <input type="datetime" class="form-control" id="IssueDate" name="IssueDate">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="ExpirationDate">ExpirationDate</label>
                                <input type="datetime" class="form-control" id="ExpirationDate" name="ExpirationDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                <label for="FrontIdentification">FrontIdentification</label>
                                <input type="file" class="form-control" id="FrontIdentification"
                                    name="FrontIdentification">
                            </div>
                            <div class="col mt-3">
                                <label for="BackIdentification">BackIdentification</label>
                                <input type="file" class="form-control" id="BackIdentification"
                                    name="BackIdentification">
                            </div>
                            <div class="col mt-3">
                                <label for="UserSignature">UserSignature</label>
                                <input type="file" class="form-control" id="UserSignature" name="UserSignature">
                            </div>
                        </div>
                    </div>
                    <div class="row card mt-2" style="background-color: #D6EAF8; padding: 1%;">
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label for="EmploymentStatus">EmploymentStatus</label>
                                <input type="text" class="form-control" id="EmploymentStatus" name="EmploymentStatus"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmployerOrBusinessName">EmployerOrBusinessName</label>
                                <input type="text" class="form-control" id="EmployerOrBusinessName"
                                    name="EmployerOrBusinessName" (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="OccupationOrComapnyType">OccupationOrComapnyType</label>
                                <input type="text" class="form-control" id="OccupationOrComapnyType"
                                    name="OccupationOrComapnyType" (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentYearsOfExperience">EmploymentYearsOfExperience</label>
                                <input type="text" class="form-control" id="EmploymentYearsOfExperience"
                                    name="EmploymentYearsOfExperience" (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentPhone">EmploymentPhone</label>
                                <input type="text" class="form-control" id="EmploymentPhone" name="EmploymentPhone"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentFax">EmploymentFax</label>
                                <input type="text" class="form-control" id="EmploymentFax" name="EmploymentFax"
                                    (click)="this.updateInfo($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mt-3">
                                <label for="EmploymentAddress">EmploymentAddress</label>
                                <input type="text" class="form-control" id="EmploymentAddress" name="EmploymentAddress"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentCountry">EmploymentCountry</label>
                                <input type="text" class="form-control" id="EmploymentCountry" name="EmploymentCountry"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentState">EmploymentState</label>
                                <input type="text" class="form-control" id="EmploymentState" name="EmploymentState"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentCity">EmploymentCity</label>
                                <input type="text" class="form-control" id="EmploymentCity" name="EmploymentCity"
                                    (click)="this.updateInfo($event)">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="EmploymentAptOrSuite">EmploymentAptOrSuite</label>
                                <input type="text" class="form-control" id="EmploymentAptOrSuite"
                                    name="EmploymentAptOrSuite" (click)="this.updateInfo($event)">
                            </div>
                        </div>
                    </div>
                    <div class="row card mt-2" style="background-color: #D6EAF8; padding: 1%;">
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label>IsTrustedContactPersonAvailable</label>
                                <div class="form-check">
                                    <label class="form-check-label" for="IsTrustedContactPersonAvailableYes">
                                        <input class="form-check-input" type="radio"
                                            name="IsTrustedContactPersonAvailable"
                                            id="IsTrustedContactPersonAvailableYes" value="true" />
                                        Yes
                                    </label>
                                    <label class="form-check-label ms-5" for="IsTrustedContactPersonAvailableNo">
                                        <input class="form-check-input" type="radio"
                                            name="IsTrustedContactPersonAvailable"
                                            id="IsTrustedContactPersonAvailableNo" value="false" checked />
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPName">TCPName</label>
                                <input type="text" class="form-control" id="TCPName" name="TCPName">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPPhoneNumber">TCPPhoneNumber</label>
                                <input type="text" class="form-control" id="TCPPhoneNumber" name="TCPPhoneNumber">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPEmail">TCPEmail</label>
                                <input type="text" class="form-control" id="TCPEmail" name="TCPEmail">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPDateOfBirth">TCPDateOfBirth</label>
                                <input type="text" class="form-control" id="TCPDateOfBirth" name="TCPDateOfBirth">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPRelationToAccountHolder">TCPRelationToAccountHolder</label>
                                <input type="text" class="form-control" id="TCPRelationToAccountHolder"
                                    name="TCPRelationToAccountHolder">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mt-3">
                                <label for="TCPAddress">TCPAddress</label>
                                <input type="text" class="form-control" id="TCPAddress" name="TCPAddress">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPCountry">TCPCountry</label>
                                <input type="text" class="form-control" id="TCPCountry" name="TCPCountry">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPState">TCPState</label>
                                <input type="text" class="form-control" id="TCPState" name="TCPState">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPCity">TCPCity</label>
                                <input type="text" class="form-control" id="TCPCity" name="TCPCity">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="TCPZip">TCPZip</label>
                                <input type="text" class="form-control" id="TCPZip" name="TCPZip">
                            </div>
                        </div>
                    </div>
                    <div class="row card mt-2" style="background-color: #D6EAF8; padding: 1%;">
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label>IsMailingAddressDifferent</label>
                                <div class="form-check">
                                    <label class="form-check-label" for="IsMailingAddressDifferentYes">
                                        <input class="form-check-input" type="radio" name="IsMailingAddressDifferent"
                                            id="IsMailingAddressDifferentYes" value="true" />
                                        Yes
                                    </label>
                                    <label class="form-check-label ms-5" for="IsMailingAddressDifferentNo">
                                        <input class="form-check-input" type="radio" name="IsMailingAddressDifferent"
                                            id="IsMailingAddressDifferentNo" value="false" checked />
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 mt-3">
                                <label for="MAAddress">MAAddress</label>
                                <input type="text" class="form-control" id="MAAddress" name="MAAddress">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="MAAptOrSuite">MAAptOrSuite</label>
                                <input type="text" class="form-control" id="MAAptOrSuite" name="MAAptOrSuite">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="MAZipCode">MAZipCode</label>
                                <input type="text" class="form-control" id="MAZipCode" name="MAZipCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label for="MACountry">MACountry</label>
                                <input type="text" class="form-control" id="MACountry" name="MACountry">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="MAState">MAState</label>
                                <input type="text" class="form-control" id="MAState" name="MAState">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="MACity">MACity</label>
                                <input type="text" class="form-control" id="MACity" name="MACity">
                            </div>
                        </div>
                    </div>
                    <div class="row card mt-2" style="background-color: #D6EAF8; padding: 1%;">
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label for="OtherIncomeSource">OtherIncomeSource</label>
                                <input type="text" class="form-control" id="OtherIncomeSource" name="OtherIncomeSource">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="AccountFundingBankName">AccountFundingBankName</label>
                                <input type="text" class="form-control" id="AccountFundingBankName"
                                    name="AccountFundingBankName">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="ABAOrSWIFT">ABAOrSWIFT</label>
                                <input type="text" class="form-control" id="ABAOrSWIFT" name="ABAOrSWIFT">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="AccountFundingBankAccountNumber">AccountFundingBankAccountNumber</label>
                                <input type="text" class="form-control" id="AccountFundingBankAccountNumber"
                                    name="AccountFundingBankAccountNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-3">
                                <label for="AccountFundingAccountType">AccountFundingAccountType</label>
                                <input type="text" class="form-control" id="AccountFundingAccountType"
                                    name="AccountFundingAccountType">
                            </div>
                            <div class="col-2 mt-3">
                                <label for="AccountFundingAccountTitle">AccountFundingAccountTitle</label>
                                <input type="text" class="form-control" id="AccountFundingAccountTitle"
                                    name="AccountFundingAccountTitle">
                            </div>
                        </div>
                    </div>
                </div>
                <button style="float: right;" class="btn btn-primary mt-4" type="submit">Call API</button>
            </form>
        </div>
    </div>
    <div class="col-2">
        <div class="row" *ngIf="infoParameter != ''">
            <h5>Help ({{this.infoParameter}}):</h5>
            <span>{{this.infoString}}</span>
        </div>
        <br>
        <div class="row" *ngIf="errorString != ''" style="color: red;">
            <h5>Error:</h5>
            <span>{{this.errorString}}</span>
        </div>
        <div class="row" *ngIf="successString != ''" style="color: green;">
            <h5>Response:</h5>
            <span>{{this.successString}}</span>
        </div>
    </div>
</div>